name: this is awesome workflow
on:
  push:

env:
  full_sha: "${{ github.sha }}"
  branch_name: ${{ github.ref_name }}
  GIT_AUTHOR: ${{ github.event.head_commit.author.name }}
  GIT_COMMIT: ${{ github.sha }}
  GIT_BRANCH: ${{ github.ref_name }}
  GIT_REPO: ${{ github.repository }}
  CHART_PATH: my-helm-chart

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ################ building docker image ####################
#  build_docker_image:
#    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      packages: write
#
#    steps:
#        ############ checkout the code ######################
#      - name: checkout the code
#        uses: actions/checkout@v4
#
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: us-east-1
#
#
#
#      - name: Test ECR access
#        run: |
#          echo "Testing login to AWS ECR..."
#          aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin 381492032953.dkr.ecr.us-west-2.amazonaws.com
#
#
#      - name: build docker image and push it gcr
#        run: |
#          ls -ll
#          docker build -t demo-k3s-argo-paratech .
#          docker tag demo-k3s-argo-paratech:latest 381492032953.dkr.ecr.us-west-2.amazonaws.com/demo-k3s-argo-paratech:${{env.branch_name}}-${{env.full_sha}}
#          docker push 381492032953.dkr.ecr.us-west-2.amazonaws.com/demo-k3s-argo-paratech:${{env.branch_name}}-${{env.full_sha}}
#
#

#    IMAGE_TAG=${{ env.branch_name }}-${{ env.full_sha }}
#    CHART_PATH=helm/demo-k3s-argo-paratech   # adjust path if needed
#
#    sed -i "s|repository: .*|repository: 381492032953.dkr.ecr.us-west-2.amazonaws.com/demo-k3s-argo-paratech|g" $CHART_PATH/values.yaml
#    sed -i "s|tag: .*|tag: $IMAGE_TAG|g" $CHART_PATH/values.yaml
  update_helm:
#    needs: build_docker_image
    runs-on: ubuntu-latest
    steps:
        ############ checkout the code ######################
      - name: checkout the code
        uses: actions/checkout@v4


      - name: update helm chart
        run: |
          IMAGE_TAG=${{ env.branch_name }}-${{ env.full_sha }}
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          sed -i "s|repository: .*|repository: 381492032953.dkr.ecr.us-west-2.amazonaws.com/demo-k3s-argo-paratech|g" $CHART_PATH/values.yaml
          sed -i "s|tag: .*|tag: $IMAGE_TAG|g" $CHART_PATH/values.yaml
          git add .
          git commit -m "Update Helm chart with image tag $IMAGE_TAG" || echo "No changes to commit"
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }}.git HEAD:$BRANCH_NAME